{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid"> 
        <img src="{% static 'img/django-community-logo.png' %}" alt="djando-logo" class="ms-4" width="100em" height="60em">    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse offset-9" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Manage Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>